In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('ggplot')

**建立LRFMC 客户价值模型，对数据进行规约（标准化）**

In [78]:
df= pd.read_csv('clean_data.csv')
df.head()

,MEMBER_NO,FFP_DATE,FIRST_FLIGHT_DATE,GENDER,FFP_TIER,WORK_CITY,WORK_PROVINCE,WORK_COUNTRY,AGE,LOAD_TIME,...,ADD_Point_SUM,Eli_Add_Point_Sum,L1Y_ELi_Add_Points,Points_Sum,L1Y_Points_Sum,Ration_L1Y_Flight_Count,Ration_P1Y_Flight_Count,Ration_P1Y_BPS,Ration_L1Y_BPS,Point_NotFlight
0,54993,2006/11/2,2008/12/24,男,6,.,北京,CN,31.0,2014/3/31,...,39992,114452,111100,619760,370211,0.509524,0.490476,0.487221,0.512777,50
1,28065,2007/2/19,2007/8/3,男,6,NaN,北京,CN,42.0,2014/3/31,...,12000,53288,53288,415768,238410,0.514286,0.485714,0.489289,0.510708,33
2,55106,2007/2/1,2007/8/30,男,6,.,北京,CN,40.0,2014/3/31,...,15491,55202,51711,406361,233798,0.518519,0.481481,0.481467,0.518530,26
3,21189,2008/8/22,2008/8/23,男,5,Los Angeles,CA,US,64.0,2014/3/31,...,0,34890,34890,372204,186100,0.434783,0.565217,0.551722,0.448275,12
4,39546,2009/4/10,2009/4/15,男,6,贵阳,贵州,CN,48.0,2014/3/31,...,22704,64969,64969,338813,210365,0.532895,0.467105,0.469054,0.530943,39

In [79]:
df['LAST_TO_END'].head()

0     1
1     7
2    11
3    97
4     5
Name: LAST_TO_END, dtype: int64

In [80]:

feat = ['FLIGHT_COUNT','SEG_KM_SUM','avg_discount','LAST_TO_END']

In [81]:
df['LOAD_TIME'] = pd.to_datetime(df['LOAD_TIME'],format=('%Y/%m/%d'))
df['FFP_DATE'] = pd.to_datetime(df['FFP_DATE'],format=('%Y/%m/%d'))
L = df['LOAD_TIME'] - df['FFP_DATE']

In [82]:
L = L.astype(str).str.split().str[0]

In [83]:
df_lrfmc = df[feat]
df_lrfmc

       FLIGHT_COUNT  SEG_KM_SUM  avg_discount  LAST_TO_END
0               210      580717      0.961639            1
1               140      293678      1.252314            7
2               135      283712      1.254676           11
3                23      281336      1.090870           97
4               152      309928      0.970658            5
...             ...         ...           ...          ...
62038             2         368      0.710000           89
62039             2         368      0.670000          121
62040             2        1062      0.225000           39
62041             2         904      0.250000          464
62042             2         760      0.280000          282

[62043 rows x 4 columns]

In [84]:
df_lrfmc['L'] = L
df_lrfmc

<ipython-input-84-4af8851e0069>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lrfmc['L'] = L

       FLIGHT_COUNT  SEG_KM_SUM  avg_discount  LAST_TO_END     L
0               210      580717      0.961639            1  2706
1               140      293678      1.252314            7  2597
2               135      283712      1.254676           11  2615
3                23      281336      1.090870           97  2047
4               152      309928      0.970658            5  1816
...             ...         ...           ...          ...   ...
62038             2         368      0.710000           89  3249
62039             2         368      0.670000          121  1961
62040             2        1062      0.225000           39  1362
62041             2         904      0.250000          464   466
62042             2         760      0.280000          282  1082

[62043 rows x 5 columns]

In [85]:
df_lrfmc.rename(columns={'LAST_TO_END':'R',
                 'FLIGHT_COUNT':'F',
                 'SEG_KM_SUM':'M',
                 'avg_discount':'C'},inplace=True)

d:\python3.8\lib\site-packages\pandas\core\frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

数据变换  将数据处理成能带入算法模型的格式

In [86]:
 df_lrfmc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62043 entries, 0 to 62042
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F       62043 non-null  int64
 1   M       62043 non-null  int64
 2   C       62043 non-null  float64
 3   R       62043 non-null  int64
 4   L       62043 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 2.4+ MB

In [87]:
df_lrfmc['L'] = (df_lrfmc['L'].astype(int)/30)

<ipython-input-87-37f4c12d7f59>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lrfmc['L'] = (df_lrfmc['L'].astype(int)/30)

In [88]:
df_lrfmc

         F       M         C    R           L
0      210  580717  0.961639    1   90.200000
1      140  293678  1.252314    7   86.566667
2      135  283712  1.254676   11   87.166667
3       23  281336  1.090870   97   68.233333
4      152  309928  0.970658    5   60.533333
...    ...     ...       ...  ...         ...
62038    2     368  0.710000   89  108.300000
62039    2     368  0.670000  121   65.366667
62040    2    1062  0.225000   39   45.400000
62041    2     904  0.250000  464   15.533333
62042    2     760  0.280000  282   36.066667

[62043 rows x 5 columns]

In [90]:
def standscaler(data):
    
    return (data - data.mean())/ data.std()

In [92]:
df_lrfmc_ss = df_lrfmc.apply(standscaler)
df_lrfmc_ss

               F          M         C         R         L
0      14.033911  26.760941  1.295531 -0.944931  1.435781
1       9.073143  13.126759  2.868155 -0.911878  1.307222
2       8.718802  12.653379  2.880929 -0.889843  1.328452
3       0.781573  12.540521  1.994699 -0.416082  0.658528
4       9.923560  13.898624  1.344326 -0.922896  0.386076
...          ...        ...       ...       ...       ...
62038  -0.706657  -0.805293 -0.065896 -0.460152  2.076219
62039  -0.706657  -0.805293 -0.282305 -0.283869  0.557096
62040  -0.706657  -0.772328 -2.689861 -0.735595 -0.149391
62041  -0.706657  -0.779833 -2.554605  1.605667 -1.206172
62042  -0.706657  -0.786673 -2.392298  0.603056 -0.479635

[62043 rows x 5 columns]

In [93]:
df_lrfmc_ss.to_csv('lrfmc_ss.csv',index=False)